td {
    min-width: 12rem;
}

body {
    font-family: 'system-ui';
}

footer {
    background-color: white;
}

@media (prefers-color-scheme: dark) {
    body, footer {
        background-color: #333;
        color: #fff;

        .table-striped>tbody>tr:nth-of-type(odd) {
            background-color: #444;
        }

        .table-hover>tbody>tr:hover {
            background-color: #555
        }
}

.underline {
    text-decoration: underline;
}

.table-condensed>tbody>tr>td {
    padding: 1px;
    width: 40%;
}


/* .table .min-width-column { */
/*     white-space: nowrap; */
/*     width: 1px; */
/* } */

/* /\* If you're targeting a specific column number, you can use the nth-child selector *\/ */
/* .table td:nth-child(2) { /\* Adjust the number 2 to target the correct column *\/ */
/*     white-space: nowrap; */
/*     width: 1px; */
/* } */
